/* MiserableOffender.com CSS overrides of Sakura */

html {
    font-family: Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Garamond, "Times New Roman", serif;
}

img, video {
    margin-top: 2.0rem;
    margin-bottom: 2.0rem;
  }